
.nav-menu li:nth-child(3) {
    text-decoration: underline;
}

.about-us {
    display: grid;
    position: relative;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 240px auto 200px 1fr;
    grid-template-areas:
    'about-header       about-header'
    'about-us           about-us'
    'mission-header      mission-header'
    'our-mission        our-mission-text';
    margin-bottom: 80px;
}

.about-us-header {
    grid-area: about-header;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 40px;
}

.about-us-header h1 {
    font-size: 2rem;
}

#many-tvs {
    grid-area: about-us;
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}

.about-us-text {
    grid-area: about-us;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}

.about-us-text p {
    display: flex;
    width: 50%;
    position: relative;
    top: 100px;
    text-align: center;
    font-family: "Montserrat", "sans-serif";
    font-size: 1.5rem;
    line-height: 3rem;
}

.our-mission-header {
    grid-area: mission-header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-mission-header h2 {
    font-size: 2rem;
}

#movie-set {
    grid-area: our-mission;
    padding-left: 40px;
    width: 90%;
    object-fit: contain;
}

.our-mission-text {
    grid-area: our-mission-text;
    display: flex;
    padding-right: 80px;
    align-items: center;
}

.our-mission-text p {
    font-family: "Montserrat", "sans-serif";
    text-indent: 40px;
    font-size: 1.5rem;
    line-height: 3rem;
}

@media (min-width: 786px) {
    .nav-menu li:nth-child(3) {
        text-decoration: none;
        background: url("assets/box-active.png") center/cover no-repeat;
    }

}
