
.nav-menu li:nth-child(2) {
    text-decoration: underline;
}

.promo-poster {
    display: flex;
    height: 500px;
}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.promo-description {
    display: grid;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 160px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr 2fr 1fr;
    grid-template-areas:
    'title      title       title'
    'minutes    minutes     res'
    'text       text        text'
    'watch      empty       buy'
    'add        add         add';
}

#promo-title {
    grid-area: title;
    display: flex;
    width: 100%;
    height: auto;
}

#minutes {
    grid-area: minutes;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
}

#resolution {
    grid-area: res;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    width: 26px;
    height: 20px;
    margin-left: 40px;
    margin-top: 10px;
}

#newworld-text {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", "sans-serif";
}

#watch-trailer {
    grid-area: watch;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    margin-top: 16px;
    cursor: pointer;
    transition: 100ms;
}

#buy {
    grid-area: buy;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    margin-top: 16px;
    cursor: pointer;
    transition: 100ms;
}

#add-to-wishlist {
    grid-area: add;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 50px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

#watch-trailer:hover {
    border: 2px solid white;
    box-shadow: 0 0 15px aqua, inset 0 0 15px aqua;
}

#buy:hover {
    border: 2px solid white;
    box-shadow: 0 0 15px aqua, inset 0 0 15px aqua;
}

#add-to-wishlist:hover {
    color: aqua;
}

.browse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    padding-left: 20px;
    padding-top: 20px;
    height: 100px;
    padding-right: 20px;
    width: 100%;
    overflow: hidden;
}

#browse-label {
    position: relative;
    display: flex;
    align-items: center;
    top: 16px;
    height: 20px;
}

#browse-label:hover span {
    color: aqua;
}

#browse-label:hover i {
    color: aqua;
}

.browse-by {
    display: flex;
    width: 200px;
}

#browse-checkbox {
    display: none;
}

#browse-label i {
    display: flex;
    gap: 4px;
}

.browse-by ul {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    left: -200px;
    padding: 0;
    height: 240px;
    transition: 0.5s;
    z-index: 5;
}

.browse-by a {
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background: url("assets/box.png") center/cover no-repeat;
}

.browse-by a:hover {
    background: url("assets/box-hover.png") center/cover no-repeat;
}

#browse-checkbox:checked ~ ul {
    left: 30px;
}

#browse-checkbox:checked ~ #browse-label {
    left: 130px;
}

.search {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

#search-checkbox {
    display: none;
}

.search-container {
    position: relative;
    right: -250px;
    transition: 0.5s;
    padding: 20px;
}

#search-checkbox-label {
    position: relative;
    right: -164px;
    transition: 0.5s;
}

#search-checkbox-label {
    position: relative;
    top: 26px;
    right: -210px;
}

#search-bar {
    margin-left: 8px;
    border-radius: 16px;
}

#search-icon {
    cursor: pointer;
}

#search-checkbox:checked ~ .search-container {
    right: 0;
}

#search-checkbox:checked ~ #search-checkbox-label {
    right: -4px;
}

#search-bar:focus {
    box-shadow: 0 0 15px aqua;
    outline: none;
    border: none;
}

.recommended-header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 40px;
}

.posters-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 210px);
    overflow: hidden;
    align-content: center;
    background-color: rgba(45, 45, 44, 0.4);
}

.movie-container  {
    display: flex;
    height: 300px;
    width: 250px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.movie-container a {
    padding: 30px;
    overflow: hidden;
}

.poster {
    position: relative;
    height: 250px;
    width: 170px;
    object-fit: cover;
    border-radius: 24px;
}

.poster:hover {
    border: 1px solid white;
    box-shadow: 0 0 15px aqua;
    top: -10px;
}

.new-release-header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    padding: 40px;
}

.caret-right-1,
.caret-right-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    padding-left: 40px;
}

.caret-right-1 a,
.caret-right-2 a {
    font-size: 8rem;
    font-family: "Montserrat", "sans-serif";
}

@media (min-width: 786px) {
    .nav-menu li:nth-child(2) {
        text-decoration: none;
        background: url("assets/box-active.png") center/cover no-repeat;
    }
}

@media (min-width: 1200px) {
    .posters-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}