* {
    font-family: "orbitron", sans-serif;
    font-size: 12px;
    color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    overflow: auto;
}

root {
    --text-color: white;
}

body {
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.19) 0%, rgba(0, 255, 255, 0.00) 14.06%, rgba(0, 255, 255, 0.00) 85.42%, rgba(0, 255, 255, 0.19) 100%), #121212;
);
    width: 100%;
    margin: 0 auto;
}

#header-background {
    background: linear-gradient(180deg, #000 22.92%, rgba(0, 0, 0, 0.69) 51.56%, rgba(0, 0, 0, 0.54) 67.19%, rgba(0, 0, 0, 0.39) 83.85%, rgba(0, 0, 0, 0.00) 100%);
    width: 100vw;
    height: 126px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.account-menu span {
    display: none;
}

.header {
    position: absolute;
    z-index: 3;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-rows: 40px 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'logo       slogan        empty'
    'logo       nav-menu      account-menu';
}

.slogan {
    grid-area: slogan;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    font-family: "Rajdhani", "sans-serif";
}

.logo {
    height: 71px;
    width: 108px;
    display: flex;
    justify-content: center;
}

#logo-header {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-menu {
    grid-area: account-menu;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.account-menu:hover i{
    color: aqua;
}

.contents {
    display: grid;
    position: relative;
    top: 130px;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

.checkout-header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40px 30px 40px;
    grid-template-areas:
    'checkout checkout checkout'
    'back progress-bar empty'
    'back progress-des empty';
}

.header-text {
    grid-area: checkout;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text h1 {
    font-size: 2rem;
}

.back {
    grid-area: back;
    display: flex;
    height: 100%;
    padding-left: 20px;
    align-items: center;
}

.back a:hover {
    color: aqua;
    cursor: pointer;
}

.progress-bar {
    grid-area: progress-bar;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 28px;
}

.circle {
    height: 15px;
    width: 35px;
    border-radius: 50%;
    background: white;
}

#circle-1 {
    background: aqua;
}

.line {
    height: 2px;
    width: 100%;
    background: white;
}

#line-1 {
    background: aqua;
}

.progress-des {
    grid-area: progress-des;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.progress-des p {
    display: flex;
    width: 70px;
    justify-content: center;
    overflow: visible;
}

.movies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
}

.movie-container {
    display: flex;
    height: 190px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.movie {
    display: grid;
    width: 60%;
    height: 100%;
    background: linear-gradient(180deg, #3C3C3B 26.96%, rgba(60, 60, 59, 0.00) 100%);
    border-radius: 24px;
    grid-template-columns: 35% 40% 25%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    'image title rating'
    'image text text'
    'image price remove';
}

.image-container {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.title {
    grid-area: title;
    padding-top: 20px;
    overflow: hidden;
}

.title h1 {
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    font-size: 1.5rem;
}

.title p {
    font-family: "Montserrat", "sans-serif";
    padding-top: 8px;
}

.text {
    grid-area: text;
    display: flex;
    align-items: center;
    width: 70%;
}

.text p {
    font-family: "Montserrat", "sans-serif";
}

.price {
    grid-area: price;
    display: flex;
    align-items: center;
}

.price p {
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    font-size: 1.3rem;
}

.price {
    grid-area: price;
}

.rating {
    grid-area: rating;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rating-circle {
    height: 56px;
    width: 56px;
    object-fit: contain;
}

.button-container {
    grid-area: remove;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    overflow: visible;
}

.remove {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid red;
    color: red;
    border-radius: 50px;
    height: 30px;
    width: 80px;
    margin-top: 16px;
    cursor: pointer;
}

.price-container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.price-container {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    'discount discount'
    'empty total'
    'policy buttons';
}

.discount {
    grid-area: discount;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
}

.discount-tag {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
}

.discount-tag i {
    position: relative;
    top: 2px;
    padding-right: 4px;
}

#discount-code {
    height: 30px;
    width: 150px;
    border-radius: 24px;
    padding-left: 8px;
}

.redeem,
.back-btn,
.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

.total {
    grid-area: total;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 60px;
    overflow: visible;
}

.total p {
    font-size: 1.5rem;
}

.policy {
    grid-area: policy;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.policy:hover {
    text-decoration: underline;
}

.buttons {
    grid-area: buttons;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 100vw;
    height: 200px;
    background-color: #2D2D2C;
    margin-top: 10px;
}

.first-row-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin-left: 40px;
    margin-top: 40px;
}

.second-row-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin-top: 40px;
    margin-left: 40px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-row-links a:hover, .second-row-links a:hover {
    color: aqua;
}


/*medium*/
@media (min-width: 786px) {

    .header {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
        'slogan slogan slogan'
        'logo nav-menu account-menu'
    }
}

@media (min-width: 1024px) {

    .header {
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas:
            'slogan slogan slogan'
            'logo nav-menu account-menu'
    }

    .account-menu {
        display: flex;
    }

    .account-menu span {
        display: inline-block;
        padding-left: 4px;
    }

    .account-menu i {
        position: relative;
        top: -1px;
    }
}

@media (min-width: 1200px) {
    .header {
        grid-template-columns: 1fr 2fr 400px;
    }

    .account-menu {
        margin-right: 40px;
    }
}