.nav-menu li:nth-child(2) {
    text-decoration: underline;
}

.main-content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    position: relative;
    overflow-y: hidden;
    margin-top: 120px;
    grid-template-areas:
    'movie-detail'
    'cast-block'
    'movies-row'
    'back-to-top'
    'footer';
}

.movie-detail {
    grid-area: movie-detail;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr 100px;
    grid-template-areas:
    'back        back'
    'player      player'
    'desc        desc'
    'buttons     buttons'
}

.cast-block {
    grid-area: cast-block;
    display: block;
}

.movies-row {
    grid-area: movies-row;
}

#back {
    grid-area: back;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

#back:hover {
    color: aqua;
}

.player {
    grid-area: player;
    width: 100%;
    height: auto;
    padding: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 20px;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 100px 60px 120px auto;
    grid-template-areas:
    'title          title       title'
    'res            rating      rating-circle'
    'description   des-text     empty'
    'text           text        text'
}

.title-container {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    height: auto;
    width: 80%;
    object-fit: contain;
}

#resolution {
    grid-area: res;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
    width: 30px;
    height: 26px;
    margin-top: 20px;
}

#rating-text {
    grid-area: rating;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
}

#rating {
    grid-area: rating-circle;
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: contain;
    justify-content: flex-end;
    align-items: flex-start;
}

#rating-circle {
    object-fit: contain;
}

.descriptions {
    grid-area: description;
}

.descriptions-text {
    grid-area: des-text;
}

.descriptions p {
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    line-height: 2rem;
}

#newworld-text {
    grid-area: text;
    font-family: "Montserrat", "sans-serif";
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.descriptions-text p {
    font-family: "Montserrat", "sans-serif";
    line-height: 2rem;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-rows: 50px 50px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-areas:
    'add   add   buy'
    'rate  rate  buy';
}

.button-1 {
    grid-area: add;
}

.button-2 {
    grid-area: rate;
}

.button-3 {
    grid-area: buy;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

#add-to-wishlist {
    grid-area: add-to-wishlist;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 50px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

#rate-movie {
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 50px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

#buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    cursor: pointer;
}

.button-container {
    grid-area: buttons;
}

#buy:hover {
    box-shadow: 0 0 15px aqua, inset 0 0 15px aqua;
    border: 2px solid white;
}

#add-to-wishlist:hover {
    color: aqua;
}

#rate-movie:hover,
#rate-movie:hover i {
    color: aqua;
}

.cast-container {
    display: grid;
    position: relative;
    top: 170px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 200px;
    grid-template-areas:
    'cast-header cast-header'
    'cast cast';
}

.cast-header {
    grid-area: cast-header;
    display: flex;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    align-items: center;
}

.cast-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 50px;
}

.cast-pic {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 24px;
    object-fit: contain;
}

.see-more {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.more-like-this {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: 2rem;
    padding-bottom: 40px;
    padding-left: 20px;
}

.posters-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 210px);
    overflow: hidden;
    align-content: center;
    background-color: rgba(45, 45, 44, 0.4);
}

.movie-container  {
    display: flex;
    height: 300px;
    width: 250px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.movie-container a {
    padding: 30px;
    overflow: hidden;
    cursor: pointer;
}

.caret-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    padding-left: 40px;
}

.caret-right a {
    font-size: 8rem;
    font-family: "Montserrat", "sans-serif";
}

.poster {
    position: relative;
    height: 250px;
    width: 170px;
    object-fit: cover;
    border-radius: 24px;
}

.poster:hover {
    border: 1px solid white;
    box-shadow: 0 0 15px aqua;
    top: -10px;
}

.new-release-header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    padding: 40px;
}

@media (min-width: 786px) {
    .nav-menu li:nth-child(2) {
        text-decoration: none;
        background: url("assets/box-active.png") center/cover no-repeat;
    }

    .movie-detail {
        grid-template-columns: 60% 40%;
        grid-template-rows: 50px 2fr 0.5fr;
        grid-template-areas:
    'back            back'
    'player          desc'
    'player          buttons'
    }
}

@media (min-width: 1200px) {
    .posters-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}