
.contents {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    height: auto;
    position: relative;
}

.checkout-header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40px 30px 40px;
    grid-template-areas:
    'checkout checkout checkout'
    'back progress-bar empty'
    'back progress-des empty';
}

.header-text {
    grid-area: checkout;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text h1 {
    font-size: 2rem;
}

.back {
    grid-area: back;
    display: flex;
    height: 100%;
    padding-left: 20px;
    align-items: center;
}

.back a:hover {
    color: aqua;
    cursor: pointer;
}

.progress-bar {
    grid-area: progress-bar;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 28px;
}

.circle {
    height: 15px;
    width: 35px;
    border-radius: 50%;
    background: aqua;
}

.line {
    height: 2px;
    width: 100%;
    background: aqua;
}

#circle-3 {
    background: white;
}

.progress-des {
    grid-area: progress-des;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.progress-des p {
    display: flex;
    width: 70px;
    justify-content: center;
    overflow: visible;
}

.payment-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.payment-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(11, auto);
    width: 50%;
    grid-gap: 10px;
    grid-template-areas:
    'payment-logos payment-logos'
    'credit-flex credit-flex'
    'name last-name'
    'card-number card-number'
    'expiry cvv'
    'phone phone1'
    'address address'
    'city country'
    'zip zip1'
    'radio-1 radio-1'
    'radio-2 radio-2'
    'buttons buttons';
}

.payment-logos {
    grid-area: payment-logos;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#vipps,
#klarna,
#apple,
#credit-card {
    display: flex;
    object-fit: contain;
    padding: 10px;
}

.credit-flex {
    grid-area: credit-flex;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.name-div {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-name-div{
    grid-area: last-name;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-number-div {
    grid-area: card-number;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expiry-div {
    grid-area: expiry;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cvv-div {
    grid-area: cvv;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-div {
    grid-area: phone;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-div {
    grid-area: address;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-div {
    grid-area: city;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-div {
    grid-area: country;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zip-div {
    grid-area: zip;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name,
#last-name,
#card-number,
#expiry,
#cvv,
#phone,
#address,
#city,
#country,
#zip {
    display: flex;
    border: 1px solid white;
    background: transparent;
    height: 30px;
    padding-left: 16px;
    width: 100%;
}

#name,
#last-name,
#card-number,
#expiry,
#cvv,
#phone,
#address,
#city,
#country,
#zip:focus {
    outline: none;
}

.radio-container-1 {
    grid-area: radio-1;
    padding-top: 20px;
}

.radio-container-2 {
    grid-area: radio-2;
}

.buttons-container {
    grid-area: buttons;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.back-btn,
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

.back-btn:hover,
.submit:hover {
    box-shadow: 0 0 15px aqua;
}