
.contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 130px;
}

.checkout-header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40px 30px 40px;
    grid-template-areas:
    'checkout checkout checkout'
    'back progress-bar empty'
    'back progress-des empty';
}

.header-text {
    grid-area: checkout;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text h1 {
    font-size: 2rem;
}

.back {
    grid-area: back;
    display: flex;
    height: 100%;
    padding-left: 20px;
    align-items: center;
}

.back a:hover {
    color: aqua;
    cursor: pointer;
}

.progress-bar {
    grid-area: progress-bar;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 28px;
}

.circle {
    height: 15px;
    width: 35px;
    border-radius: 50%;
    background: aqua;
}

.line {
    height: 2px;
    width: 100%;
    background: aqua;
}

.progress-des {
    grid-area: progress-des;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.progress-des p {
    display: flex;
    width: 70px;
    justify-content: center;
    overflow: visible;
}

.payment-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 100%;
    overflow: hidden;
}

.payment-complete-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    grid-gap: 10px;
    overflow: hidden;
}

.success {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.success h1 {
    font-size: 2rem;
}

.success-icon-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.success-icon {
    width: 300px;
    height: auto;
}

.success-msg {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.success-msg p {
    width: 40%;
    text-align: center;
    font-family: "Montserrat", "sans-serif";
    line-height: 2rem;
}

.watch-button-container {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    padding: 20px;
}

.watch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    height: 30px;
    width: 100px;
}

.watch:hover {
    box-shadow: 0 0 15px aqua;
}
