* {
    font-family: "orbitron", sans-serif;
    font-size: 12px;
    color: white;
}
*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    overflow: auto;
}

root {
    --text-color: white;
    --text-color-hover: aqua;
}

body {
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.19) 0%, rgba(0, 255, 255, 0.00) 14.06%, rgba(0, 255, 255, 0.00) 85.42%, rgba(0, 255, 255, 0.19) 100%), #121212;);
    width: 100%;
    margin: 0 auto;
}

/*Small*/
@media (max-width: 640px) {
    #header-background {
        background: linear-gradient(180deg, #000 22.92%, rgba(0, 0, 0, 0.69) 51.56%, rgba(0, 0, 0, 0.54) 67.19%, rgba(0, 0, 0, 0.39) 83.85%, rgba(0, 0, 0, 0.00) 100%);
        width: 100vw;
        height: 126px;
        position: absolute;
        top: 0;
        z-index: 2;
    }

    .account-menu span {
        display: none;
    }
    .header {
        position: absolute;
        z-index: 3;
        width: 100%;
        margin: 0 auto;
        height: 280px;
        display: grid;
        grid-template-rows: 40px 80px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
    'logo       slogan        empty'
    'logo       nav-menu      account-menu';
    }

    .slogan {
        grid-area: slogan;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        font-family: "Rajdhani", "sans-serif";
    }

    .logo {
        height: 71px;
        width: 108px;
        display: flex;
        justify-content: center;
    }

    .nav {
        grid-area: nav-menu;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu-checkbox {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    #logo-header {
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .account-menu {
        grid-area: account-menu;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 104px;
        padding: 1.5rem;
        border-radius: 16px;
        box-shadow: 2px 2px 4px rgba(0,255,255, 30%);
        background-color: #121212;
        z-index: 2;
    }

    #menu-label {
        position: relative;
    }

    #menu-checkbox:checked ~ .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        gap: 1.5rem;
        overflow: visible;
    }

    .nav-menu li:nth-child(n+2) a:hover {
        color: aqua;
    }

    .nav-menu li:first-child {
        text-decoration: underline;
        pointer-events: none;
        cursor: not-allowed;
    }

    .account-menu i:hover {
        color: aqua;
    }

    .contents {
        position: relative;
        z-index: 1;
        display: grid;
        top: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 300px 300px;
        grid-template-areas:
        'no-sub         no-sub'
        'display        display'
        'share          share';
    }

    #banner-1-image {
        grid-area: no-sub;
        width: 100%;
        height: 440px;
        object-fit: cover;
        object-position: 0 -26px;
    }

    .banner-1-text {
        grid-area: no-sub;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
    }

    .banner-1-text h1 {
        position: relative;
        top: -32px;
        text-align: center;
        font-size: 2rem;
    }

    .banner-paragraph {
        font-family: "Montserrat", "sans-serif";
        font-size: 1rem;
    }

    .banner-1-text p {
        text-align: center;
        position: relative;
        top: -8px;
    }

    .banner-2 {
        grid-area: display;
        display: flex;
    }

    #banner-2-image {
        object-fit: contain;
        width: 60%;
        height: auto;
        margin-left: 40px;
    }

    .banner-2-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        text-align: end;
        margin: 0 40px 0 0;
    }

    .banner-2-text h2 {
        font-size: 2rem;
        padding-bottom: 32px;
    }

    .banner-3 {
        grid-area: share;
        height: 300px;
        display: flex;
        position: relative;
    }

    .banner-3-text {
        display: flex;
        width: 60%;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    .banner-3-text h2 {
        font-size: 2rem;
        padding-bottom: 32px;
    }

    .banner-3-text p {
        text-wrap: none;
    }

    #banner-3-image {
        height: 100%;
        object-fit: contain;
    }

    .carousel-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 400px;
        grid-template-areas:
        'empty      whats-new      browse'
        'carousel   carousel       carousel';
    }

    .carousel-header {
        grid-area: whats-new;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0 40px 0;
    }

    .carousel-header h2 {
        font-size: 2rem;
    }

    .browse {
        grid-area: browse;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        margin: 40px 0 40px 0;
    }

    .carousel {
        grid-area: carousel;
        display: grid;
        height: 100%;
        grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
    }

    .movie-poster {
        height: 270px;
        width: auto;
        object-fit: contain;
        border-radius: 24px;
        overflow: hidden;
    }

    .carousel div {
        display: grid;
        grid-template-rows: 1fr;
        overflow: visible;
        place-items: center;
        align-items: start;
        height: 300px;
    }

    #screams {
        grid-area: 1;
        position: relative;
        left: -85px;
        top: 60px;
    }

    #addams {
        grid-area: 2;
        position: relative;
        top: 20px;
    }

    #barbie {
        grid-area: 3;
        border: 1px solid white;
        box-shadow: 0 0 10px aqua;
    }

    #batman {
        grid-area: 4;
        position: relative;
        top: 20px;
    }

    #fast {
        grid-area: 5;
        position: relative;
        left: 83px;
        top: 60px;
    }

    .filmmaker-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .filmmaker-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filmmaker-header h2 {
        font-size: 2rem;
    }

}

/*Medium*/
@media (min-width: 768px) {

}

/*Large*/
@media (min-width: 1024px) {

}